:root {
  --body-font: 'Chilanka', cursive;
  --heading-font: 'Chilanka', cursive;
  --secondary-font: 'Montserrat', sans-serif;
}




.font-style {
    font-family: 'Caveat', cursive; /* Ensure this is imported */
     /* Adjust size for better readability */
    color: #333; /* Customize color if needed */
  }
  
  .search-bar input {
    font-size: 0.9rem;
  }
  
  .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
  }

  .icon-color{
    color: black;
  }

  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }





  /* for hero section carousel */
  .carousel-item {
    transition: all 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .carousel-item.inactive {
    opacity: 0;
    transform: translateX(100%);
  }
  
  button {
    margin: 10px;
  }
  
  

/* Homepage category item */
  .categories-item {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
  }
  
  .category-icon {
    color: #DEAD6F; /* Change this to match your theme */
    transition: transform 0.3s ease, color 0.3s ease;
    
  }
  
  .category-icon:hover {
    transform: scale(1.2);
    color: #DEAD6F; /* Highlight color */
  }
  
  h5 {
    margin: 0;
    font-size: 16px;
  }
  
  