.font-style {
    font-family: 'Caveat', cursive; /* Ensure this is imported */
    font-size: 1rem; /* Adjust size for better readability */
    color: #333; /* Customize color if needed */
  }
  
  .search-bar input {
    font-size: 0.9rem;
  }
  
  .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
  }

  .icon-color{
    color: black;
  }